name: Android Debug

on:
  push:
    paths-ignore:
      - 'web/**'
      - '.github/workflows/web-*.yml'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'web/**'
      - '.github/workflows/web-*.yml'
      - '*.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - uses: gradle/actions/setup-gradle@v3

      - name: Build debug
        run: ./gradlew buildDebug
